:root {
  --primary-theme-color: #529b9c;
  --secondary-theme-color: #eac392;
  --tertiary-theme-color: #d27575;

  --dark-theme-color: #675a55;
  --light-dark-color: #9cba8f;

  --white-theme-color: #fffffc;
  --black-theme-color: #131313;

  --title-theme-font-family: ccmonstermash, sans-serif;

  --primary-theme-border: solid 0.2rem var(--white-theme-color);
  --primary-theme-border-radius: 0.4rem;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: short-films, sans-serif;
  font-size: 1.6rem;

  color: var(--white-theme-color);

  background-color: var(--black-theme-color);
}
